.compose{
	border: none;
	margin-bottom: 10px;
	margin-left: 0px;
}
.footer{
	position: absolute;
	height: 70px;
	background-color: grey;
	text-align: center;
	width: 100%;
	bottom: 0;
}
.footer p{
	margin-top: 25px;
}
